<div class="jumbotron bg-primary text-white">
  <h1 class="display-4 text-center">Eat Da Burger</h1>
  <h4 class="text-center">An app that tracks your favorite burgers and whether you've had the opportunity to DEVOUR them.</h4>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4 text-center pt-2 mb-4">
      <h3>Add a Burger!</h3>
      <hr class="my-4">
      <form class="create-burger">
        <div class="form-group">
          <label for="burger">Burger Name:</label>
          <input type="text" id="burger" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Add Burger</button>
      </form>
    </div>

    <div class="col-md-4 text-center bg-light pt-2 mb-4">
      <h3>Need to eat!</h3>
      <hr class="my-4">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </div> 

    <div class="col-md-4 text-center pt-2 mb-4">
      <h3>Already eaten!</h3>
      <hr class="my-4">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </div>
    
  </div>
</div>
